.logo-text {
    margin:12px 24px;
    font-family: Montserrat;
    height:128px;
}

.page-header {
    display:flex;
    width:100%;
    font-size: 24px;
}

.search {
    position:relative;
    display:block;
    width:80%;
}

input[type=text] {
    outline: none;
    overflow: hidden;
    border: none;
    font-size: 16px;
    border-radius: 40px;
    padding: 8px 16px;
}

.searchIcon {
    position:absolute;
    right:16px;
    bottom:16px;
}

.advancedSearch {
    width:64px;
    height:64px;
}