body {
    margin: -4px 0px 0px -4px;
    max-width: 100%;
    overflow-x: hidden;
}

.navBar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    font-family: Quicksand;
    width: 100vw;
    height: 72px;
    background-color: #212540;
    font-weight: bold;
    font-size: 20px;
}

    .navBar-container a {
        color: white;
        outline: none;
        text-decoration: none;
        display: inline-block;
    }

    .navBar-container .logo-block {
        font-size: 30px !important;
        width: 240px;
        display: flex;
        align-items: center;
        float: left;
        margin-left: 24px;
    }

        .navBar-container .logo-block p {
            display: inline-block;
            font-size: 27px;
            padding-left: 24px;
        }

    .navBar-container .constrast {
        opacity: 1.0;
        background-color: #FFB561;
        color: #212540;
        border-radius: 16px;
        font-weight: 900;
    }

    .navBar-container img {
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: middle;
        margin-bottom: 15px;
    }

    .navBar-container ul {
        list-style-type: none;
        margin-right: 16px;
        padding: 0;
        overflow: hidden;
        display: inline-block;
        float: right;
    }

    .navBar-container li {
        display: inline-block;
        text-align: center;
    }

        .navBar-container li a {
            opacity: 0.8;
            width: 100px;
            margin: 6px 18px 0px 18px;
            padding: 6px;
            font-size: 18px;
            font-weight: 500;
        }

.cover-image {
    width: 100vw;
    height: 720px;
    background: url("../images/homepage placeholder.png");
    background-size: cover;
    font-size: 24px;
    box-shadow: inset 0 0 0 1000px rgba(33, 37, 64, 0.7);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

    .cover-image#register {
        width: 50%;
        height: auto;
        background: url("../images/registration cover.png");
        background-size: cover;
        align-content: flex-end;
    }

.subtext {
    margin: 64px 0px;
    color: white;
    font-family: Montserrat;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 20%;
}

.alexandream {
    margin: 12px 0px 24px 0px;
    text-align: center;
    width: 100vw;
    color: white;
    font-size: 110px;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: -4px;
}

.searchBar {
    position: relative;
    margin: auto;
    width: 80%;
    height: 48px;
}

    .searchBar input[type=text] {
        outline: none;
        overflow: hidden;
        border: none;
        font-size: 16px;
        border-radius: 50px;
        padding: 16px 32px;
        width: 100%;
    }

    .searchBar input[type=text]:hover {
        outline: 5px solid gray;
    }

.header {
    margin: auto;
    padding: 48px 0px;
    font-size: 54px;
    font-family: Roboto;
    text-align: center;
    width: 100vw;
    color: #FFB561;
    font-weight: bold;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 90vw;
    margin: auto;
    padding: 24px;
}

.intro {
    margin-left: 64px;
    width: 45vw;
    font-family: Quicksand;
}

@media only screen and (max-width: 1200px) {
    .intro {
        flex-flow: column;
        width: 100vw;
    }
}

.member {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 210px;
    height: 210px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 32px 72px;
    font-family:Roboto;
}

    .member .name {
        margin: auto;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .member .email {
        margin: auto;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
    }

    .member img {
        width: 196px;
        height: 196px;
        border-radius: 50%;
        margin: auto;
        vertical-align: middle;
        margin: 8px 0px;
    }

.contact {
    text-align: center;
    width: 25vw;
    font-family: Roboto;
    margin-bottom: 36px;
}

    .contact > p {
        font-size: 24px;
        font-weight: bold;
    }

        .contact > p ~ p {
            margin-top: -18px;
            font-size: 11px;
            font-weight: normal;
        }

    .contact img {
        vertical-align: middle;
        margin: 0px 6px;
    }

.footer {
    font-family: Quicksand;
    width: 100vw;
    height: 300px;
    background-color: #212540;
    font-family: Quicksand;
    font-size: 14px;
    color: #d1d4ed;
}

    .footer .block .icon {
        display: inline-block;
        margin: 0px 8px;
    }

    .footer .block {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100vw;
        padding: 48px 32px;
    }

        .footer .block p {
            color: white;
            font-weight: 400;
            font-size: 13px;
        }

        .footer .block a {
            margin-top: 6px;
            display: block;
            text-decoration: none;
            color: #a5abd6;
        }
