<div class="navBar-container">
    <div class="logo-block">
        <a href="/">
            <img style="width:32px;" src="/logo/logo.png" />
            <p>Alexandream</p>
        </a>
    </div>
    <ul>
        <li><a href="/features">Features</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
        <li><a href="pages/register">Sign Up</a></li>
        <li><a href="pages/logout">Logout</a></li>
        <li><a href="pages/login" class="constrast">Login</a></li>
    </ul>
</div>