<!-- Search header -->
<div class="page-header">
    <div class="logo-text">
        Alexandream <span style="font-weight:bold">Employees</span>
    </div>
    <div class="search">
        <input type="text" placeholder="Search for employees..." />
        <div class="recommended-terms">
            <span>Most search terms: </span>
            <a href="#phamnhatvuong">Phạm Nhật Vượng</a>
            <a href="#elonmusk">Elon Musk</a>
        </div>
        <div class="searchIcon" style="cursor: pointer"><img src="/images/svg/search.svg" width="34" /></div>
    </div>
    <div style=" width: 64px; height: 64px;"><img src="/images/svg/advanced search.svg" width="32" /></div>

</div>

<div style="display: flex; font-family: Quicksand; font-size: 20px;">
    <!-- Book image -->
    <div style="padding: 24px 32px">
        <img width="500px" src="/images/employee/e22516788.jpg" />
    </div>
    <!-- Book info -->
    <div style="padding: 24px 72px 24px 32px;">
        <div style="width: 100%;">
            <div class="book-info">
                <p style="font-weight:800; font-size: 48px;">EMPLOYEENAME</p>
                <p style="font-weight:300; font-size: 36px;">POSITION</p>
            </div>

            <div class="book-info" style="text-align:right; color: lightgray;">
                <p style="font-size: 16px;">EMPIDHERE</p>
            </div>
        </div>

        <div class="title" style="margin-top:64px;">Introduction</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>

        <div class="title" style="display: inline-block">Status: </div>
        <p style="display:inline-block;"> current status</p>

        <!-- Buttons -->
        <div>
            <button id="employee">Fire</button>
        </div>
    </div>
</div>

<div class="header" style="color: #32B5FF">Friend List</div>
<p>TBA</p>