<div class="card">
    <div class="card-body">
        <form method="post" action="./login">
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="vaitro">Vai trò</label>
                <input type="text" class="form-control" id="vaitro" name="vaitro" placeholder="Nhập vai trò">
            </div>
			{{#if msg}}
				<div class="form-group">
					{{msg}}
				</div>
			{{/if}}
            <div class="form-group text-right">
                <button type="submit" class="btn btn-warning">Sign in</button>
            </div>
        </form>
    </div>
</div>