<!-- Cover image half left -->
<div style="width:100%">
    <div class="cover-image" id="register">
        <div class="subtext">
            <p>Welcome to </p>
            <p style="font-weight:bold;font-size:140%;">Alexandream</p>
        </div>
    </div>
</div>