<!-- Search header -->
<div class="page-header">
    <div class="logo-text">
        Alexandream <span style="font-weight:bold">Employees</span>
    </div>
    <div class="search">
        <input type="text" placeholder="Search for employees..." />
        <div class="recommended-terms">
            <span>Most search terms: </span>
            <a href="#phamnhatvuong">Phạm Nhật Vượng</a>
            <a href="#elonmusk">Elon Musk</a>
        </div>
        <div class="searchIcon" style="cursor: pointer"><img src="/images/svg/search.svg" width="34" /></div>
    </div>
    <div style=" width: 64px; height: 64px;"><img src="/images/svg/advanced search.svg" width="32" /></div>

</div>

<div style="display:flex; padding:0px 48px;">
    <!-- Advanced Search -->
    <div class="advancedSearch">
        <div class="title" style="color: #32B5FF;">Advanced Search</div>

        <div class="subtitle">Department(s)</div>
        <ul>
            <li><label><input type="checkbox" />Manager</label></li>
            <li><label><input type="checkbox" />Personnel</label></li>
            <li><label><input type="checkbox" />Employer</label></li>
            <li><label><input type="checkbox" />Administrator</label></li>
            <li><label><input type="checkbox" />Bureaucrat</label></li>
            <li><label><input type="checkbox" />Headquarter</label></li>
        </ul>

        <div class="subtitle">Year of Experience</div>
        <ul>
            <li><label><input type="checkbox" />1+ year</label></li>
            <li><label><input type="checkbox" />2+ years</label></li>
            <li><label><input type="checkbox" />4+ years</label></li>
            <li><label><input type="checkbox" />7+ years</label></li>
            <li><label><input type="checkbox" />10+ years</label></li>
            <li><label><input type="checkbox" />15+ years</label></li>
            <li><label><input type="checkbox" />20+ years</label></li>
        </ul>

    </div>
    <!-- Search result -->
    <div style="padding:64px;">
        <a href="/features/employee">Test employee</a>
    </div>
</div>