<!-- Search header -->
<div class="page-header">
    <div class="logo-text">
        Alexandream <span style="font-weight:bold">Books</span>
    </div>
    <div class="search">
        <input type="text" placeholder="Search for books and authors..." />
        <div class="recommended-terms">
            <span>Most search terms: </span>
            <a href="#doraemon">Doraemon</a>
            <a href="#nhagiakim">Nhà giả kim</a>
        </div>
        <div class="searchIcon" style="cursor: pointer"><img src="/images/svg/search.svg" width="34" /></div>
    </div>
    <div style=" width: 64px; height: 64px;"><img src="/images/svg/advanced search.svg" width="32" /></div>

</div>

<div style="display:flex; padding:0px 48px;">
    <!-- Advanced Search -->
    <div class="advancedSearch">
        <div class="title">Advanced Search</div>

        <div class="subtitle">Genre(s)</div>
        <ul>
            <li><label><input type="checkbox" />Novel</label></li>
            <li><label><input type="checkbox" />Thrilled</label></li>
            <li><label><input type="checkbox" />Fairy Tales</label></li>
            <li><label><input type="checkbox" />Sci-fi</label></li>
        </ul>

        <div class="subtitle">Author</div>
        <ul>
            <li><label><input type="checkbox" />William Shakespear</label></li>
            <li><label><input type="checkbox" />Leonardo di Carpio</label></li>
            <li><label><input type="checkbox" />John Doe</label></li>
        </ul>

        <div class="subtitle">Pages</div>
        <ul>
            <li><label><input type="checkbox" />50 pages</label></li>
            <li><label><input type="checkbox" />50+ pages</label></li>
            <li><label><input type="checkbox" />100+ pages</label></li>
            <li><label><input type="checkbox" />200+ pages</label></li>
            <li><label><input type="checkbox" />400+ pages</label></li>
            <li><label><input type="checkbox" />1,000+ pages</label></li>
        </ul>
    </div>
    <!-- Search result -->
    <div style="padding:64px;">
        <a href="/features/book">Test book</a>
    </div>
</div>

<!-- Coming soon... -->
<div class="section">
    <div class="header">More Coming Soon...</div>
</div>