* {
    font-family: Roboto;
}

.navBar-container {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #212540;
    font-weight: bold;
    font-family: Quicksand;
}

    .navBar-container a {
        color: white;
        outline: none;
        text-decoration: none;
        display:inline-block;
    }

    .navBar-container .logo-block {
        width: 240px;
        display: inline-block;
        float: left;
        margin-top: 12px;
    }

    .navBar-container .constrast {
        background-color: #FFB561;
        color: #212540;
        border-radius:5px;
    }

    .navBar-container img {
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align:bottom;
    }

    .navBar-container p {
        display: inline-block;
        font-size:24px;
        padding-left:24px;
    }

    .navBar-container ul {
        list-style-type: none;
        margin-right: 16px;
        padding: 0;
        overflow: hidden;
        display:inline-block;
        float:right;
    }

    .navBar-container li {
        display: inline-block;
        text-align: center;
    }

        .navBar-container li a {
            width: 100px;
            padding: 6px;
        }


.cover-image {
    width: 100%;
    height: 720px;
    background: url("/alexandream.github.io/images/homepage placeholder.png");
    background-size: cover;
    font-size: 24px;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}