*
{
    font-family: Roboto;
}

h1
{
    color:red;
}

.navBar-container {
    width: 100%;
    background-color: #212540;
}

.navBar-container .block {
    width:120px;
    text-align:center;
    font-family:Quicksand;
    color:white;
}

    .navBar-container .contrast-block {
        width: 120px;
        text-align: center;
        font-family: Quicksand;
        color: #212540;
        background-color: #FFB561;
    }

    .navBar-container .logo-block {
        width: 120px;
        text-align: center;
        font-family: Quicksand;
        color: white;
    }